bin/
obj/
csx/
rcf/
node_modules/
.vs/
.vscode/
.idea/
packages/
FakesAssemblies/


*.user
*.suo
*.dbmdl
*.jfm

#Selenium ignores
*.iml
target/
src/test/java/TEST/
test-xml/
test-output/
environment.properties
.settings/
.classpath
.project
.factorypath